.createauthentication {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-form {
        width: 90%;
        max-width: 500px;
        min-height: 50vh;
        background-color: var(--minor-color);
        color: var(--major-color);
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;

        &-title {
            font-size: 25px;
            text-align: center;
            padding: 1vh 1vw;
        }

        &-inputgroup {
            display: grid;
            grid-template-rows: max-content max-content;
            gap: 1vh;
            padding: 1vh 1vw;
            font-size: 20px;

            &-label {
                color: var(--extra-color);
            }

            &-data {
                border: none;
                outline-color: var(--extra-color);
                border-radius: 5px;
                height: 40px;
                color: var(--minor-color);
                padding: 0px 1vw;
            }
        }

        &-controlgroup {
            display: flex;
            flex-wrap: wrap;
            padding: 1vh 1vw;
            justify-content: flex-end;

            &-button {
                padding: 1vh 1vw;
                border: none;
                outline: none;
                border-radius: 5px;
                cursor: pointer;
            }

            &-button:hover {
                color: var(--extra-color);
            }

            &-button:disabled {
                cursor: not-allowed;
                color: transparent;
            }

            &-button:disabled:hover {
                cursor: not-allowed;
            }
        }

        &-key {
            margin: 2vh 1vw;
            padding: 1vh 1vw;
            display: grid;
            grid-template-columns: 1fr max-content;
            gap: 1vw;
            border: 1px solid var(--extra-color);
            border-radius: 5px;
            align-items: center;
            justify-items: center;

            &-text {
                background-color: var(--major-color);
                color: var(--extra-color);
                width: 100%;
                border: none;
                outline: none;
                padding: 0.5vh 0.5vw;
            }

            &-copy {
                color: var(--extra-color);
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 700px) {
}
