.lists {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    overflow: hidden;

    &-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-bottom: 1px solid lightgray;

        &-item {
            padding: 0.2vh 0.4vw;
            margin: 0.3vh 0.3vw;
            cursor: pointer;
        }
    }

    &-window {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr;
        align-content: flex-start;
        height: 100%;
    }

    &-sidebar {
        background-color: var(--minor-color);
        color: var(--major-color);
        display: grid;
        grid-template-rows: repeat(3, max-content) 1fr;
        gap: 1vh;
        overflow: hidden;
        max-width: 300px;

        &-header {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1fr;
            gap: min(10px, 1vw);
            filter: brightness(70%);
            cursor: pointer;
            padding: 1vh 1vw;
            box-shadow: 1px 0px 5px var(--minor-color);
        }

        &-menu {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1fr;
            gap: min(10px, 1vw);
            padding: 1vh 1vw;

            &-sync {
                cursor: pointer;
            }

            &-count {
                display: flex;
                align-items: center;

                &-number {
                    color: var(--extra-color);
                }
            }
        }

        &-search {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: max-content 1fr;
            gap: min(10px, 1vw);
            filter: brightness(70%);
            cursor: pointer;
            box-shadow: 1px 0px 5px var(--minor-color);
            padding: 1vh 1vw;

            &-box {
                background-color: transparent;
                outline: none;
                border: none;
                color: var(--major-color);
            }

            &-box::placeholder {
                color: var(--major-color);
            }
        }

        &-pane {
            display: grid;
            grid-template-rows: max-content 1fr;
            gap: 1vh;
            height: 100%;
            overflow: hidden;

            &-tab {
                display: flex;
                align-items: center;
                justify-content: space-around;

                &-button {
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: var(--major-color);
                    color: var(--minor-color);
                    padding: 0.5vh 0.5vw;
                    margin: 1vh 1vw;
                    cursor: pointer;
                }

                &-button:hover {
                    color: var(--extra-color);
                }
            }

            &-window {
                height: 100%;
                overflow: hidden;
                display: grid;
                grid-template-rows: 1fr max-content;
                gap: 1vh;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;

                    &-item{
                        display: grid;
                        grid-template-columns: max-content 1fr max-content max-content;
                        gap: .5vw;
                        align-items: center;
                        margin: .5vh 0vw;
                        padding: .5vh 1vw;
                        filter: brightness(50%);
                        cursor: pointer;

                        &-control{
                            display: grid;
                            align-items: center;
                            gap: .3vw;
                            grid-template-columns: repeat(2, max-content);
                        }

                        &-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }

                        &-icon:hover{
                            color: var(--extra-color);
                        }
                        
                    }

                    &-item:hover{
                        filter: brightness(100%);
                        border-left: 4px solid var(--extra-color);
                    }
                }

                &-new {
                    display: grid;
                    grid-template-columns: repeat(2, max-content);
                    gap: 1vw;
                    align-items: center;
                    justify-content: center;
                    justify-self: center;
                    font-size: small;
                    padding: max(1vh, 10px);
                    margin-bottom: 1vh;
                    border-radius: 50%;
                    filter: brightness(70%);
                    cursor: pointer;
                    width: 80%;
                }

                &-new:hover {
                    border-radius: 10px;
                    border: 1px solid var(--major-color);
                    background-color: var(--extra-color);
                }
            }
        }
    }

    &-sidebar.reduced {
        .hide {
            display: none;
        }
    }

    &-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr;
        align-content: flex-start;
        height: 100%;

        &-header {
            display: grid;
            grid-template-columns: max-content 1fr;
            align-items: center;

            &-sidebarcontrol {
                border: 1px solid var(--minor-color);
                padding: 0.5vh 0.5vw;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: max(2vw, 25px);
                cursor: pointer;
            }

            &-sidebarcontrol:hover {
                color: var(--extra-color);
                background-color: var(--minor-color);
            }

            &-name {
                display: flex;
                justify-content: flex-end;
                padding-right: 1vw;
            }
        }
    }
}
