<div class="lists">
    <menu class="lists-menu">
        <span class="lists-menu-item">View</span>
        <span class="lists-menu-item">List</span>
    </menu>

    <div class="lists-window">
        <section class="lists-sidebar reduced" #Sidebar (click)="openSidebar(Sidebar, ToggleSidebar)">
            <span class="lists-sidebar-header" routerLink='tables'>
                <i class="fa fa-home lists-sidebar-header-icon"></i>
                <p class="lists-sidebar-header-text hide">My Lists</p>
            </span>
            <span class="lists-sidebar-menu">
                <i class="fa fa-undo lists-sidebar-menu-sync" (click)="reload()"></i>
                <span class="hide">
                    <span class="lists-sidebar-menu-count">
                        <span class="lists-sidebar-menu-count-number">{{tables.length}}</span>
                        <span class="lists-sidebar-menu-count-name">Lists</span>
                    </span>
                </span>
            </span>
            <span class="lists-sidebar-search">
                <i class="fa fa-search lists-sidebar-search-icon"></i>
                <input type="text" class="lists-sidebar-search-box hide" placeholder="filter">
            </span>
            <span class="lists-sidebar-pane hide">
                <span class="lists-sidebar-pane-wrapper">
                    <span #Table *ngFor="let table of tables" class="lists-sidebar-pane-wrapper-item"
                        (mouseenter)="selectedTable = table; displayTableOptions = true"
                        (mouseleave)="displayTableOptions = false">
                        <i class="fa fa-angle-right lists-sidebar-pane-wrapper-item-icon"></i>
                        <span routerLink="/lists/tables/{{table._id}}">{{table.title}}</span>
                        <span *ngIf="showTableOptions(table)" class="lists-sidebar-pane-wrapper-item-control">
                            <i class="fa fa-pencil lists-sidebar-pane-wrapper-item-icon"
                                (click)="popupService.open('edit-table', {'table': selectedTable})"></i>
                            <i class="fa fa-trash lists-sidebar-pane-wrapper-item-icon"
                                (click)="popupService.open('delete-table', {'table': selectedTable})"></i>
                        </span>
                    </span>
                </span>

                <span class="lists-sidebar-pane-new" (mouseleave)="CreateTable.style.display='none'"
                    (mouseenter)="CreateTable.style.display='flex'" (click)="popupService.open('create-table')">
                    <i class="fa fa-plus"></i>
                    <span style="display: none;" #CreateTable>Create Table</span>
                </span>
            </span>
        </section>
        <section class="lists-container">
            <div class="lists-container-header">
                <i #ToggleSidebar class="lists-container-header-sidebarcontrol fa fa-angle-left"
                    (click)="toggleSidebar(Sidebar, ToggleSidebar)"></i>
                <span class="lists-container-header-name">CraterList 0.0.0</span>
            </div>

            <router-outlet></router-outlet>
        </section>
    </div>
</div>

<app-popup id="edit-table" heading="Edit Table" [component]="tableEdit">
</app-popup>

<app-popup id="delete-table" heading="Delete Table" [component]="tableDelete">
</app-popup>

<app-popup id="create-table" heading="Create Table" [component]="tableCreate">
</app-popup>