:root {
    --major-color: #ffffff;
    --minor-color: #333333;
    --extra-color: #ff5e01;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--major-color);
    color: var(--minor-color);
}

.table-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: var(--minor-color);
    color: var(--major-color);
    top: 0;
    right: 0;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1vw 1vh;
        cursor: pointer;
    }

    &-item:hover {
        color: var(--extra-color);
    }
}